{% extends 'baseadmin.html.twig' %}

{% block title %}Descriptif de l'exposant sélectionné{% endblock %}

{% block body %}

<main class="admin">
    {% for expo in exponents %}
        <section>
            <h4>Fiche de {{ expo.nameexp }}</h4>
            <p >Secteur d'activité : {{ expo.activity }}<p>
            <p >Adresse : {{ expo.adresse }}<p>
            <p >Email : {{ expo.email }}<p>
            <p >Site Internet : {{ expo.site }}<p>
            <a href="{{ path('result') }}" class="btn btn-warning">Revenir aux résultats</a>
        </section>
    {% endfor %}
</main>
{% endblock %}
