{% extends 'base.html.twig' %}

{% block title %}Recherche par mot clé{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
        <li class="breadcrumb-item">Recherche par mot-clé</li>
    </ol>

    <div class="miseenforme afficheAccueilSansTitre">

        <div class="card-sm mt-5 mb-3" style="max-width: 40rem;">
            <div class="card-header">Choisissez un mot clé dans la liste ci-dessous :</div>
            
            <div class="card-body">
                <form class="form" action="{{ path('result') }}" method ="post">
                    <label for="motcle"></label>
                    <select id="mc" name="motcle" class="form-control">
                        {% for mc in motcles %}
                        <option value="{{ mc.id }}">{{ mc.namemc }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-warning mb-3">Lancez la recherche</button>
                </form>
            </div>
        </div>

        <div>
            <a href="{{ path('record') }}" class="btn btn-archive mt-3">Vos Archives</a>
        </div>

    </div>
    
{% endblock %}
